.flipper {
    @include prefix(perspective, 800, $default-prefixes);
    height: 150px;
    position: relative;
}
.flipper .card.flipped {
    @include prefix(transform, rotatey(-180deg), $default-prefixes);
}
.flipper .card {
    width: 100%;
    height: 100%;
    @include prefix(transform-style, preserve-3d, $default-prefixes);
    @include prefix(transition, 0.8s, ms moz webkit o);

}
.flipper .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    @include prefix(border-radius, 20px, $default-prefixes);
    @include prefix(backface-visibility, hidden, $default-prefixes);
}

.flipper .card .face .card-word {
    font-size: 1.5em;
}

.flipper .card .face .bottom {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.flipper .card .front {
    z-index: 1;
    background: #d8f3ff;
    color: #000000;
}
.flipper .card .back {
    z-index: 2;
    background: #ffc8cf;
    color: black;
    @include prefix(transform, rotatey(-180deg), $default-prefixes);
}